@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Francois+One&family=Fredoka:wght@300..700&display=swap&family=Blinker&display=swap&family=Podkova:wght@400..800&display=swap?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@font-face {
  font-family: 'Porter';
  src: url(../fonts/porter-sans-inline-block.ttf);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
